<footer class="footer-footer">
    <div class="footer-text-div" style="color:white;">
        <span class="footer-text footer-text-titulo">
            Imoveis 
        </span>
        <span class="footer-text">
            @Html.ActionLink("Encontrar", "Index", "Search" , new { style = "text-decoration:none; color:white;" })
        </span>
        <span class="footer-text">
            @Html.ActionLink("Anunciar Imovel", "AddUpdate2", "Property",new { } ,   new { style = "text-decoration:none; color:white;" })
        </span>
    </div>          
    <div class="vl"></div>
    <div class="footer-text-div" style="color:white;">
        <span class="footer-text footer-text-titulo">
            Institucional
        </span>     

        <span class="footer-text">
            Sobre nós
        </span>
        <span class="footer-text">
            Trabalhe conosco
        </span>
                    
    </div>          
    <div class="vl"></div>
    <div class="footer-text-div" style="color:white;">
        <span class="footer-text-titulo">
            Fale conosco
        </span>
        
    </div>
</footer>
