@using RealState.Models
@model List<PropertyModel>
@{
    ViewBag.Title = "Pesquisa";
}

<h2>Pesquisa</h2>


<div style="display:flex; ">
    @{
        Html.RenderAction("GetDetailedSearchBarPartialView", "Search");
    }

    @{
        Html.RenderAction("GetHorizontalImagePartialView", "Search" , new {Property = Model });
    }
    }
</div>